<% provide :title, 'Likes' %>
<ul class="nav nav-tabs" id="likes">
  <li class="active">
    <a data-toggle="tab" href="#likes_me">Likes me</a>
  </li>
  <li>
    <a data-toggle="tab" href="#liked_users">I like</a>
  </li>
</ul>
<div>
  <% @likes_me.each do |like| %>
  <% if !like.likes_me.blank? %>
    <p><%= User.find_by(id: like.likes_me).username %></p>
    <% end %>
  <% end %>
</div>
<div>
  <% @liked_users.each do |like| %>
    <% if !like.likeable_id.blank? %>
      <p><%= User.find_by(id: like.likeable_id).username %></p>
    <% end %>
  <% end %>
</div>

