<% provide :title, 'Likes' %>
<ul class="nav nav-tabs" id="likes">
  <li class="active">
    <a data-toggle="tab" href="#likes_me">LIKES ME</a>
  </li>
  <li>
    <a data-toggle="tab" href="#liked_users">I LIKE</a>
  </li>
</ul>
<div>
  <br>
  <% @likes_me.each do |like| %>
  <% if !like.likes_me.blank? %>
    <p><%= User.find_by(id: like.likes_me).username %></p>

    <% end %>
  <% end %>
</div>
<br>
<div>
  <% @liked_users.each do |like| %>
    <% if !like.likeable_id.blank? %>
      <button type="button" class="btn btn-warning btn-ss" onclick="return false"><p><%= User.find_by(id: like.likeable_id).username %></p></button>
      <p></p>
      <p><%= link_to "Start a Conversation", new_message_path(recipient_id: like.likeable_id), class: "btn btn-primary btn-ss" %></p>
    <% end %>
  <% end %>
</div>

