/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

@import 'bootstrap/theme';

.alert-notice {
  @extend .alert-success;
}
 
.alert-alert {
  @extend .alert-warning;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

html { background: #222; }

body {
	margin: 0;
	height: 100vh;
	background: url(http://dailybruin.com/images/43317_8.22.datingsite.bo.jpg) 
		50% 50%;
	background-size: cover;
	opacity: 0.6em;
	animation: ani 4s linear infinite;
}

h1 {
	color: orange;
  
}
h2 {
	color: orange;
  
}
h3 {
	color: #000000;
  display: block;
  width:500px;
  text-align: center;
  margin: 1em auto;
  padding: 1em 1em 1em 1em;
  font-size: 2em;
  font-weight: 700;
  width: 50%;
  position: relative;
}

#container{
  position:relative;
  padding:20px 10px;
  
}
.user_nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  
}

ul{
  margin:0px;
  padding:0px;
  border:0px;
  list-style-type: none;
  height:30px;
  text-align: center;
  position: relative;

}
ul li{
  float:left;
  display:list-item;
  text-align: center;
  position: relative;   
}

ul li a{
  text-allign:center;
  text-decoration:none;
  color:#fff;
  font-family:Arial;
  transition:all 0.4s ease-in-out;
  background-color:#000;
  padding:12px;
  text-transform: uppercase;
  
}
ul li a:hover{
  
  text-decoration:none;
  color:#fff;
  font-family:arial;
  background-color:#98bf21;
  padding:12px 12px 30px 12px;
   
  
}

#conversation {
  font-size: 20px;
  color: orange;
}

.face {
  margin:30px auto;
  border-radius:50%;
  opacity: 0.4;
  background-color:dodgerblue;
  height:100px;
  width:100px;
  position:relative;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-4px;
  margin-left:-4px;
  border-radius:50%;
  height:8px;
  width:8px;
  background-color:#333;
}

.seconds-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-1px;
  width:2px;
  height:45px;
  background-color:orange;
  transform-origin: bottom center;
}

.minute-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-2px;
  width:4px;
  height:45px;
  background-color:#333;
  transform-origin: bottom center;
}

.hour-hand {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-2px;
  margin-top:-30px;
  width:4px;
  height:30px;
  background-color:#333;
  transform-origin: bottom center; 
}

.smooth {
  transition: all 1s linear;
}


.clock {
  $w: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8em;
  width: $w;
  margin-top: -45px;
  margin-left: -($w/2);
  text-align: center;
  overflow: hidden;
}

.clock span {
  position: relative;
  display: inline-block;
  width: 50px;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
  border-right: 1px solid #aaa;
}

.clock span:before,
.clock span:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform .75s;
}

.clock span:before {
  content: attr(data-old);
  z-index: 1;
  transform: translate3d(0,0,0);
}

.clock .flip:before {
  transform: translate3d(0,102.5%,0);
}

.clock span:after {
  content: attr(data-now);
  z-index: 2;
  transform: translate3d(0,-102.5%,0);
}

.clock .flip:after {
  transform: translate3d(0,0,0);
}