

ul li .active{
  text-align:center;
  text-decoration:none;
  font-family:Arial;
  transition:all 0.4s ease-in-out;
  background-color:#000;
  text-transform: uppercase;
  float:left;
  display:list-item;
  text-align: center;
  position: relative;
  padding-top:15px;
  padding-bottom: 25px;
  display:list-item;
  border:0px;
  list-style-type: none;
  height:0px;
  text-align: center;
  position: relative;
  
}