<header>
	<h1>I-Like: A dating website</h1>
	<div id="navcontainer">
	<ul>
	</div>
	</ul>

	<div class="About Us">
		<h3>We are a dating website where we find you a match based on your likes and interest from Facebook. You will be able to have a lot to talk about with your matches. You won't need to try to find subjects to talk about with your matches. Sign up and meet you matches</h3>
	</div>

</header>