<header>
	<h1><b>I-Like: A dating website</h1>
	<div id="navcontainer">
	<ul>
	</div>
	</ul>

	<div class="About Us">
		<h3><b>We are a dating website where we match you based on your mile radius. Sign up and meet you matches</h3>
	</div>

</header>